:root {
  --color: #000;
  --gap: 5vw;
}

html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}
body{margin:0}

body {
  background: var(--color);
  color: white;
  font-family: "Space Mono", monospace;
  font-size: 16px;
}

a.nav {
  position: fixed;
  color: inherit;
  z-index: 2;
  text-decoration: none;
  text-transform: lowercase;
  margin: 1rem;
  letter-spacing: 0.1em;
  font-size: .8rem;
  opacity: 0;
}

a.nav:hover {
  color: var(--peru-orange);
}

#logo {
  opacity: 0;
  margin: 5px 0px;
  width: 2.5em;
}

#logo > svg {
  fill: white;
}

#logo > svg:hover {
  fill: var(--peru-orange);
}

.top-center {
  top: 0px;
  left: 50%;
  transform: translate(-50%, -40%);
  -webkit-transform: translate(-50%, -40%);
}

.top-left {
  top: 0px;
  left: 0px;
  transform: translate(-55px, -50px);
  -webkit-transform: translate(-55px, -50px);
}

.top-right {
  top: 0px;
  right: 0px;
  transform: translate(55px, -50px);
  -webkit-transform: translate(55px, -50px);
}

.bottom-left {
  bottom: 0px;
  left: 0px;
  transform: translate(-55px, 50px);
  -webkit-transform: translate(-55px, 50px);
}

.bottom-right {
  bottom: 0px;
  right: 0px;
  transform: translate(55px, 50px);
  -webkit-transform: translate(55px, 50px);
}

.loaded > a.nav {
  animation: easeLinks 0.8s ease 0.3s forwards;
}

.loaded > #logo {
  animation: easeLogo 1s ease 0.3s forwards;
}

@keyframes easeLogo {
  100% {
    opacity: 1;
    transform: translate(-50%);
  }
}

@keyframes easeLinks {
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@media (max-width: 500px) {
  #logo {
    margin: 2px 0px;
  }
}
