.cover-container {
  display: grid;
  height: 100%;
}

.cover-container > a {
  display: flex;
  margin: auto;
}

.cover {
  height: 40vh;
}

@media (orientation: landscape) {
  .cover {
    height: 60vh;
  }
}
