body {background-color: #131d1c;}

h1 {font-family: 'My Webfont';color: #f4c748; font-size:30px}

h1.title-center {text-align: center}

iframe#txny-youtube {
    width:100%;
    height: 66%;

}

div.body {
    padding-right: 50px;
    padding-left: 50px;
}
p {color: #f4c748}

@font-face {
    font-family: 'My Webfont';
    src: url('airstrikeplat.ttf') format('truetype')
}