.email-container {
  /* background-color: bisque; */
  /* this is to center hor. and vert. */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 40vw;
}

@media (max-width: 890px) {
  .email-container {
    width: 70vw;
  }
}

@media (max-width: 500px) {
  .email-container {
    width: 70vw;
  }
}
