.content {
  display: grid;
  height: 100%;
}

.email-container {
  /* background-color: bisque; */
  /* this is to center hor. and vert. */
  margin: auto;
  width: 40vw;
}

h2 {
  padding: 0 !important;
  margin: 0 !important; 
}

label {
  font-size: .5em;
}



@media (max-width: 890px) {
  .email-container {
    width: 70vw;
  }
}

@media (min-width: 667px) {
  .mc-field-group {
    padding-bottom: 5px !important;
    min-height: auto !important;
  }
  
  #mce-EMAIL {
    width: 433px !important;
  }
  
  #mce-FNAME, #mce-LNAME {
    display: inline-block !important;
    width: 210px !important;
  }
}
