:root {
  --sandy-yellow: #f4c748;
  --peru-orange: #cd712c;
  --slate-gray: #131d1c;
  --sienna-brown: #6c3b26;
  --slate-green: #1b352f;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  background: linear-gradient(
    45deg,
    var(--peru-orange),
    var(--slate-green),
    var(--sienna-brown),
    var(--slate-gray)
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 600% 600%;

  -webkit-animation: gradientMovement linear 80s infinite;
  -moz-animation: gradientMovement linear 80s infinite;
  animation: gradientMovement linear 80s infinite;

  color: var(--sandy-yellow);
  font-family: "Space Mono", monospace;
  font-size: 17px;
}

@-webkit-keyframes gradientMovement {
  0% {
    background-position: 0% 91%;
  }
  50% {
    background-position: 100% 10%;
  }
  100% {
    background-position: 0% 91%;
  }
}
@-moz-keyframes gradientMovement {
  0% {
    background-position: 0% 91%;
  }
  50% {
    background-position: 100% 10%;
  }
  100% {
    background-position: 0% 91%;
  }
}
@keyframes gradientMovement {
  0% {
    background-position: 0% 91%;
  }
  50% {
    background-position: 100% 10%;
  }
  100% {
    background-position: 0% 91%;
  }
}

a.nav {
  position: fixed;
  color: inherit;
  z-index: 2;
  text-decoration: none;
  text-transform: lowercase;

  font-size: 1em;
  margin: 25px 26px;
  letter-spacing: 0.1em;

  opacity: 0;
}

a.nav:hover {
  color: var(--peru-orange);
}

#logo {
  opacity: 0;
  margin: 5px 0px;
  width: 2.5em;
}

#logo > svg {
  fill: var(--sandy-yellow);
}

#logo > svg:hover {
  fill: var(--peru-orange);
}

.top-center {
  top: 0px;
  left: 50%;
  transform: translate(-50%, -40%);
  -webkit-transform: translate(-50%, -40%);
}

.top-left {
  top: 0px;
  left: 0px;
  transform: translate(-55px, -50px);
  -webkit-transform: translate(-55px, -50px);
}

.top-right {
  top: 0px;
  right: 0px;
  transform: translate(55px, -50px);
  -webkit-transform: translate(55px, -50px);
}

.bottom-left {
  bottom: 0px;
  left: 0px;
  transform: translate(-55px, 50px);
  -webkit-transform: translate(-55px, 50px);
}

.bottom-right {
  bottom: 0px;
  right: 0px;
  transform: translate(55px, 50px);
  -webkit-transform: translate(55px, 50px);
}

.loaded > a.nav {
  animation: easeLinks 0.8s ease 0.3s forwards;
}

.loaded > #logo {
  animation: easeLogo 1s ease 0.3s forwards;
}

@keyframes easeLogo {
  100% {
    opacity: 1;
    transform: translate(-50%);
  }
}

@keyframes easeLinks {
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@media (max-width: 890px) {
  a.nav {
    margin: 21px 22px;
  }
}

@media (max-width: 500px) {
  a.nav {
    margin: 5px;
  }
  #logo {
    margin: 2px 0px;
  }
}

/* main page specific */
#scene-container {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
/* main page specific */
.home-video {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
}

/* music page specific */
.actual-video {
  width: 100%;
  height: 100%;
  object-fit: cover !important;
}
/* music page specific */
