:root {
  --sandy-yellow: #f4c748;
  --peru-orange: #cd712c;
  --slate-gray: #131d1c;
  --sienna-brown: #6c3b26;
  --slate-green: #1b352f;
}

body {
  margin: 0px;
  color: var(--sandy-yellow);
  text-align: center;
  background-color: var(--slate-gray);
  
  font-size: 17px;
  font-family: "Space Mono", monospace;
}

#scene-container {
  position: absolute;
  width: 100%;
  height: 100%;
}

a {
  position: fixed;
  color: inherit;
  z-index: 1;
  text-decoration: none;
  text-transform: lowercase;
  
  font-size: 1em;
  padding: 25px 26px;
  letter-spacing: .10em;
}

a.link {
  opacity: 0;
}

a:hover {
  color: var(--slate-green);
}

#logo {
  opacity: 0;
  top: 0px;
  left: 50%;
  margin: -5px;
  transform: translate(-50%, -40%);
  -webkit-transform: translate(-50%, -40%);
}

.logo {
  fill: var(--sandy-yellow);
  width: 2.5em;
}

.top-left {
  top: 0px;
  left: 0px;
  transform: translate(-55px, -50px);
  -webkit-transform: translate(-55px, -50px);
}

.top-right {
  top: 0px;
  right: 0px;
  transform: translate(55px, -50px);
  -webkit-transform: translate(55px, -50px);
}

.bottom-left {
  bottom: 0px;
  left: 0px;
  transform: translate(-55px, 50px);
  -webkit-transform: translate(-55px, 50px);
}

.bottom-right {
  bottom: 0px;
  right: 0px;
  transform: translate(55px, 50px);
  -webkit-transform: translate(55px, 50px);
}

.loaded > a.link {
  animation: easeLinks .8s ease .3s forwards;
}

.loaded > #logo {
  animation: easeLogo 1s ease .3s forwards;
}

@keyframes easeLogo {
  100% {
    opacity: 1;
    transform: translate(-50%);
  }
}

@keyframes easeLinks {
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@media (max-width: 890px) {
  a {
    padding: 21px 22px;
  }
}

@media (max-width: 500px) {
  a {
    padding: 11px 12px;
  }
}

