div.social-tile{
    width: 50vw;
    height: 10vw;
    color: white;
    position: relative;
    background-color: black;
    margin: 0 auto;
}

div.social-container {
    margin:0 auto;
    /* background-color: bisque; */
    /* this is to center hor. and vert. */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.social-link{
    top: 50%;
    display: block;
    position: relative;
    vertical-align: middle;
    margin-bottom: 40px;
}